
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="chart created using amCharts live editor" />
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <title> <%= title %> </title>
  <%- include ('../partials/head.html') %>

	<!-- amCharts javascript sources -->
  <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
  <script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
  <script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/light.js"></script>
  
  <!-- amCharts plugins -->
  <script type="text/javascript" src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css">



  
</head>

<!--Navigation-->
<%- include ('../partials/navigation.html')%>

<body>
  <div class="container">

    <!--encabezado presentación-->
    <div class="card-header shadow p-3 mb-1 bg-white rounded">
      <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-5 ml-auto">
            <img src="/img/siiee.png" alt="" style="width: 65%;" class="card-img"  >
          </div>
          <div class="col-md-7 mt-5">
            <h6 class="text-muted" style="text-align: center;font-size: 25px;line-height: 20px;font-weight: 600;color: #73879C;
                font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">
                <p style="align-items: center;"> <img src="/img/logo.png" style="width: 25%;" alt=""></p>
                  Inversión Pública Municipio de Medellín
            </h6>
            <p class="text-muted" style="text-align: center;font-size: 18px;line-height: 18px;font-weight: 600;color: #73879C;
              font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Proyectos
            </p>
            <h5 class="text-muted" style="text-align: center;font-size: 20px;line-height: 20px;font-weight: 200;color: #73879C;
            font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;" class="card-text total" id="nomproyecto">
              
            </h5>
          </div>
        </div>
      </div>
    </div>


    <!--cuadro de busqueda-->
    <div class="card-header shadow p-2 mb-4 bg-white rounded">
      <div class="input-group">
        <input list="browsers" class="form-control" name="browser" id="browser" placeholder="Escriba el nombre del proyecto" style=" height: 40px ;font-size: x-small;" >
        <datalist  id="browsers" style="width: 300px;font-size: medium;"  > 
          <% proyectos.forEach(function(proyecto){ %>
            <option value= "<%= proyecto.nomproy %> "></option> 
          <% }); %>
        </datalist>
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-info" onclick="buscaproyectnombre()"  >Buscar</button>
          <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Buscar por el Nombre del Proyecto</a>
            <a class="dropdown-item" href="#">Por Código del Proyecto</a>
            
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Limpiar</a>
          </div>
         
        </div>
      </div>
    </div>


    

    <!--cuadro de la gráfica totales por año de vida del proyecto-->
    <div class="card-header shadow p-5 mt-1 mb-4 bg-white rounded" >
        <div id= "chartdiv" class="mt-1" style="  width: 100%; height: 300px;"></div>
    </div>

    <div class="card-header shadow p-2 mt-5 mb-5 bg-white rounded" style="width: 100%;height: 100%;">
      <div style="overflow-x:auto;">
        <table class="table table-sm table-responsive-lg table- table-striped table-hover">
          <thead style="font-size: smaller;">
            <tr>
              <th colspan="12" style="text-align:  center;">
                Municipio de Medellín <br>
                Inversión Pública por Comunas y Corregimientos <br>
                Proyecto por vigencias <br>
                <p id="nomproyecto_tabla"> </p>
              </th>
            </tr>
            <tr>
              <th>#</th>
              <th>Vigencia</th>
              <th>Nombre proyecto</th>
              <th>Cod_dependencia</th>
              <th>Nombre dependencia</th>
              <th>Cod_dep_actual</th>
         
              <th>Inversión</th>
            </tr>
          </thead>
          <tbody id="tablaxproyectoxtabla" style="font-size: x-small;"></tbody>
        </table>
      </div>
  </div>

  <!--tabla descriptiva por año  y dependencias a cargo  del proyecto-->
    <div class="card-header shadow p-2 mt-5 mb-5 bg-white rounded" style="width: 100%;height: 100%;">
      <div style="overflow-x:auto;">
        <table class="table table-sm table-responsive-lg table- table-striped table-hover">
          <thead style="font-size: smaller;">
            <tr>
              <th colspan="12" style="text-align:  center;">
                Municipio de Medellín <br>
                Inversión Pública por Comunas y Corregimientos <br>
                Proyecto por territorio <br>
                <p id="nomproyecto_tabla2"> </p>
              </th>
            </tr>
            <tr>
              <th>#</th>
              <th>Vigencia</th>
              <th>Cod_dependencia</th>
              <th>Cod_Bpin</th>
              <th>Proyecto</th>
              <th>Dep_Actual</th>
              <th>Dependencia</th>
              <th>Comuna</th>
              <th>Inversión</th>
            </tr>
          </thead>
          <tbody id="tablaxproyecto" style="font-size: x-small;"></tbody>
        </table>
      </div>
  </div>

<div> <br><br><br><br><br><br><br> </div>
  </div>
</body>
<%- include ('../partials/scriptsHome.html')%>
	<!-- amCharts javascript sources -->
  
  <script src="/js/htmltoexcel.js"></script>
  <script src="/js/cargaProyecto.js"></script>


</html>

